.container {
  margin-top: '100px';
  text-align: 'center';
  align-items: 'center';
}

.title {
  margin-bottom: '20px';
}

.buttonFlex {
  width: 'fit-content';
  text-align: 'center';
  margin: '0 auto';
}
